@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}    
#menu a {
    font-size: 15px !important;
    font-weight: 600;  
}
#menu a{
    color:#3f3f3f;   
}

.carousel-inner{
    max-height:40rem;
}

@media (max-width:768px) {

    #nosotros {
        width:90% !important;
    }
}    